*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}nav{
    background-color: rgba(197, 197, 197, 0.493);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container  {
    display: flex;
    justify-content: space-evenly;
    
    /* border: 2px solid black; */
    margin: 100px;
}

.box1 , .box2 , .box3 , .box4{
    display: flex;
    
    padding: 30px;
    border: 2px solid black;
}

form{
    display: flex;
    justify-content: center;
    gap: 40px;
    height: 30px;
}